.wrapper {
    background-color: #cce7ff;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 15px;
    display: flex;
    gap: 10px;
}
.addres {
    font-size: 18px;
}
.avatar {
    max-width: 170px;
    max-height: 170px;

    border-radius: 50%;
    overflow: hidden;
    border: 3px solid #e3e3e2;
    background-color: #fff;
}

.name {
    display: block;
    font-size: 22px;
    margin: 10px 0 5px;
}
